* {
    border: none;
    border-radius: 0;
    font-family: Cartograph CF Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    color: #89b4fa;
    padding: 10px;
    /*margin: 10px;*/ /*superseeded by config*/
    background: rgba(30, 30, 46, 0.9);
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button label {
	font-size: 18px;
}

#workspaces button {
    color: #89b4fa;
}

#workspaces button.active {
    color: #ba3654;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
  margin: 5px 10px;
}
