* {
    border: none;
    border-radius: 0;
    font-family: Cartograph CF Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    color: #cdd6f4;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.2);
    /*margin: 10px;*/ /*superseeded by config*/
    background: rgba(30,30,46, 1);
    border-radius: 10px;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    color: #00ffff;
}

#workspaces button.active {
    color: #cba6f7;
}

#workspaces button.urgent {
    color: #a6e3a1;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
  margin: 5px 10px;
}



/* --- PLACEMENT ORDER --- */

/* Order of placement in bar. Left to right*/

#clock {
    color: #fab387;
}

#workspaces {

}

#window {

}

#tray {

}

#network {

}

#backlight {

}

#pulseaudio {
    color: #89b4fa;
}

#pulseaudio.microphone {
    color: #cba6f7;
}

#battery {
    color: #a6e3a1;
}


